.main-container {
	margin: 30px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.main-container .screen-title {
	font-size: xx-large;
	margin-bottom: 30px;
}

/* h1 Home Screen */
/* h2 Get Started */
.home-screen .homescreen-get-started {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60vh;
	width: 100vw;
}

/* h2 Welcome Message */
.home-screen .welcome-homescreen-message {
	display: flex;
	flex-direction: column;
	height: 60vh;
	width: 80vw;
	justify-content: space-around;
	align-items: center;
	margin: auto;
}

.home-screen .welcome-title {
	background-color: rgba(0, 0, 0, 0.4);
	padding: 20px 40px;
	border-radius: 20px;
	text-align: center;
}

.home-screen .welcome-title span {
	text-decoration: underline;
	cursor: pointer;
}

.home-screen .welcome-title span:hover {
	color: teal;
}

/* h2 Information Bar */
.home-screen .total-info-bar {
	display: flex;
	justify-content: space-evenly;
	margin: 60px 0px;
}

.home-screen .info-bar-containers {
	display: flex;
	flex-direction: column;
	height: 100px;
	justify-content: space-around;
	align-items: center;
	padding: 0px 120px;
	border-radius: 20px;
}

/* h2 Title */
.info-bar-containers .info-bar-title {
	font-size: large;
}

/* h2 Amount */
.info-bar-containers .info-bar-content {
	font-size: xx-large;
}

/* h2 Total Expense */
.home-screen .total-amount-alloted {
	background-color: rgba(0, 0, 255, 0.2);
}

/* h2 Total Remaining */
.home-screen .total-amount-remaining {
	background-color: rgba(0, 255, 0, 0.2);
}

/* h2 Total Spent */
.home-screen .total-amount-spent {
	background-color: rgba(255, 0, 0, 0.2);
}

/* h2 Expense Card Grid */
.home-screen .expenses-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
}

/* h2 Sticky Add Expense Button */
.home-screen .sticky-add-expense {
	position: fixed;
	bottom: 5%;
	right: 2%;
	background-color: #105565;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	box-shadow: 5px 5px 6px black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: xx-large;
}

.home-screen .sticky-add-expense:hover {
	box-shadow: none;
	background-color: #2b8296;
}

.home-screen .expense-create-button {
	padding: 10px;
	font-size: large;
	width: 180px;
	display: flex;
	align-items: center;
}

/* h1 Login Screen */

.login-screen .redirect,
.register-screen .redirect {
	text-decoration: none;
	margin-left: 5px;
}

/* h1 Profile Screen */
.profile-screen {
	position: relative;
	height: fit-content;
}

/* h2 Profile Screen Grid */
.profile-screen-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 10px 50px;
	height: 60vh;
}

.profile-screen .profile-content {
	font-size: larger;
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 40px;
}

.profile-screen .profile-edit-button {
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
}

/* h2 Profile Edit Screen */
.profile-screen .profile-edit-screen {
	position: absolute;
	top: 0%;
	left: 50%;
	max-width: fit-content;
	max-height: 70vh;
	overflow-y: scroll;
}

/* h2 Edit Cross Button */
.profile-edit-screen .profile-edit-exit {
	position: absolute;
	font-size: larger;
	top: 3%;
	right: 3%;
}

.profile-edit-screen .profile-edit-exit:hover {
	fill: red;
	cursor: pointer;
}

/* h2 Full Name */
.profile-edit-screen .profile-edit-full-name,
.register-screen .register-full-name {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.profile-edit-screen .profile-edit-full-name .profile-edit-name,
.register-screen .register-full-name .register-name {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0px 10px;
}

/* h2 Profile Edit Buttons */
.profile-edit-screen .profile-edit-buttons {
	display: flex;
	justify-content: space-evenly;
}
.profile-edit-screen .update-profile-button {
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	width: 40%;
}

.profile-edit-screen .profile-button-close {
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(150, 0, 0);
	font-size: 15px;
	width: 40%;
}

.profile-edit-screen .profile-button-close:hover {
	background-color: rgb(180, 0, 0);
}

/* h1 Register Screen */
/* h2 Register Button */
.register-screen .register-submit-button {
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: large;
	width: 30%;
}

/* h1 Expense Screen */
.expense-screen {
	max-width: 100vw;
}

.expense-screen .expense-title,
.expense-edit-screen .expense-title {
	display: flex;
	justify-content: space-between;
}

/* h2 Title Buttons */
.expense-screen .expense-title .title-button-container {
	display: flex;
}

.expense-screen .expense-title .title-button,
.expense-edit-screen .expense-title .title-button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: fit-content;
	padding: 8px;
	width: 100px;
	margin-right: 30px;
	font-size: large;
}

/* h2 Expense Screen Grid */
.expense-screen .expense-screen-grid {
	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: 40px;
}

/* h2 Add Expense to List Form */
.expense-screen .add-expense-list {
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.expense-screen .add-expense-list label {
	font-size: large;
	margin-right: 10px;
}

.expense-screen .add-expense-list input {
	outline: none;
	padding: 4px;
	border-radius: 50vh;
	width: 22vw;
	color: black;
	font-size: large;
	background-color: rgba(255, 255, 255, 0.6);
}

.expense-screen .add-expense-list button {
	padding: 8px;
	display: flex;
	align-items: center;
	font-size: large;
	width: 150px;
}

/* h2 Table */
.expense-screen .expense-list-table {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-x: hidden;
	border-radius: 20px;
}

.expense-screen .expense-list-table table,
.expense-edit-screen .expense-edit-table table {
	width: 100%;
	height: fit-content;
}

/* h2 Table Head */
.expense-screen .expense-table-head,
.expense-edit-screen .expense-table-head {
	padding-block: 15px;
	font-size: larger;
	font-weight: bolder;
	border-bottom: 1px solid orange;
}

/* h2 Table Data */
.expense-screen .expense-table-data,
.expense-edit-screen .expense-table-data {
	padding-block: 10px;
	text-align: center;
	align-items: center;
	font-size: large;
}

.expense-screen .expense-list-table table,
.expense-edit-screen .expense-edit-table table {
	border-collapse: collapse;
}

.expense-screen .expense-list-table thead,
.expense-edit-screen .expense-edit-table thead {
	background-color: rgba(0, 0, 0, 0.7);
}

.expense-screen .expense-list-table tbody tr:nth-child(even),
.expense-edit-screen .expense-edit-table tbody tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.2);
}

.expense-screen .expense-list-table tbody tr:nth-child(even) td,
.expense-edit-screen .expense-edit-table tbody tr:nth-child(even) td {
	color: rgba(255, 255, 255, 0.8);
}

.expense-screen .expense-list-table tbody tr:nth-child(odd),
.expense-edit-screen .expense-edit-table tbody tr:nth-child(odd) {
	background-color: rgba(255, 255, 255, 0.6);
}

.expense-screen .expense-list-table tbody tr:nth-child(odd) td,
.expense-edit-screen .expense-edit-table tbody tr:nth-child(odd) td {
	color: rgba(0, 0, 0, 0.9);
}

/* h2 Expense Table Buttons */
.expense-screen .expense-table-button {
	padding: 8px;
	width: 90px;
	font-size: medium;
	display: flex;
	margin-left: 50%;
	transform: translateX(-50%);
	align-items: center;
	justify-content: center;
	margin-right: 20px;
}

/* h2 Expesne Screen Stats */
.expense-screen .expense-stats-container {
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 20px;
}

.expense-screen .expense-stats {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	font-size: large;
	margin-block: 30px;
}

/* h1 Expense Edit Screen */
.expense-edit-screen {
	max-width: 100vw;
}

/* h2 Expense Edit Grid */
.expense-edit-screen .expense-edit-grid {
	display: grid;
	grid-template-columns: 3.5fr 1.5fr;
	gap: 40px;
}

.expense-edit-screen .expense-edit-table {
	width: 100%;
	overflow-x: hidden;
	border-radius: 20px;
}

/* $ For Expense Edit Table view table of Expense Screen */

/* h2 Edit List Input */
.expense-edit-screen .edit-list-input {
	outline: none;
	border-radius: 50vh;
	width: 150px;
	background-color: transparent;
	padding: 5px 10px;
	font-size: medium;
	border: 1px solid rgba(0, 0, 0, 0.7);
	color: black;
	text-align: center;
}

.expense-edit-screen .edit-list-input:focus {
	background-color: rgba(255, 255, 255, 0.6);
}

/* h2 Expense Edit Button */
.expense-edit-screen .expense-edit-button-container {
	display: flex;
	justify-content: space-evenly;
}

.expense-edit-screen .expense-edit-button {
	padding: 8px;
	width: 100px;
	font-size: medium;
	margin-right: 20px;
	align-items: baseline;
}

/* h2 Expense Update Button */
.expense-edit-screen .expense-update-button {
	padding: 8px;
	font-size: large;
	width: 40%;
}

@media only screen and (max-width: 700px) {
	.main-container {
		margin: 10px;
	}

	/* h1 Home Screen */
	.home-screen .homescreen-get-started {
		width: 95vw;
	}

	.home-screen .expenses-grid {
		margin: 10px;
		display: flex;
		flex-direction: column;
	}

	.home-screen .total-info-bar {
		flex-direction: column;
		margin-bottom: 30px;
	}

	.home-screen .info-bar-containers {
		margin-bottom: 20px;
		width: 95vw;
	}

	.home-screen .sticky-add-expense {
		bottom: 2%;
		right: 5%;
	}

	/* h1 Profile Screen */
	.profile-screen-grid {
		display: flex;
		flex-direction: column;
		padding: 10px;
	}

	/* h1 Profile Edit Screen */
	.profile-screen .profile-edit-screen {
		top: 15%;
		left: 0%;
		background-color: rgba(0, 0, 0, 0.7);
		border-radius: 20px;
		max-height: 60vh;
		overflow-y: scroll;
	}

	.profile-edit-screen .profile-edit-full-name,
	.register-screen .register-full-name {
		display: flex;
		flex-direction: column;
	}

	.profile-edit-screen .profile-edit-full-name .profile-edit-name,
	.register-screen .register-full-name .register-name {
		margin: 10px 0px;
	}

	/* h1 Register Screen */
	.register-screen .register-submit-button {
		width: 40%;
	}

	/* h1 Expense Screen */
	.expense-screen .expense-title .title-button-container {
		flex-direction: column;
	}

	.expense-screen .expense-title .title-button {
		margin-bottom: 8px;
		margin-right: 10px;
	}

	.expense-screen .expense-screen-grid,
	.expense-edit-screen .expense-edit-grid {
		display: flex;
		flex-direction: column-reverse;
	}

	.expense-screen .add-expense-list {
		flex-direction: column;
		align-items: flex-start;
	}

	.expense-screen .add-expense-list div {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
	}

	.expense-screen .add-expense-list input {
		width: 95vw;
	}

	.expense-screen .expense-list-table,
	.expense-edit-screen .expense-edit-table {
		width: 100%;
		overflow-x: scroll;
	}

	.expense-screen .expense-list-table .expense-table-head,
	.expense-edit-screen .expense-edit-table .expense-table-head {
		padding: 15px 70px;
	}
}
