/* h1 Background Image */
.background-image {
	min-height: 100vh;
	width: 100vw;
	background-image: url(../public/images/background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

/* h1 Background Filter */
.background-filter {
	min-height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	background-repeat: repeat;
	background-attachment: fixed;
}

/* h1 Display Dimensions */
.App {
	min-height: 75vh;
	max-width: 100vw;
}
