:root {
	--background-hr-fr: rgba(0, 0, 0, 0.5);
}

/* h1  */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	color: white;
}

body {
	overflow: hidden scroll;
}

/* h1 Custom Scrollbar */
::-webkit-scrollbar {
	width: 0.6vw;
}

::-webkit-scrollbar-track {
	background-color: #0a0f1d;
}

::-webkit-scrollbar-thumb {
	border-radius: 50vw;
	background-color: rgba(0, 255, 255, 0.4);
	border: 1px #0a0f1d solid;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 255, 255, 0.6);
}

/* h1 Defaults */
.primary-button {
	background-color: #7f5c00;
	border: none;
	border-radius: 10px;
}

.primary-button:hover {
	background-color: #997a2a;
	cursor: pointer;
}

.primary-delete {
	background-color: #b30000;
	border: none;
	border-radius: 10px;
}

.primary-delete:hover {
	background-color: #ff0000;
	cursor: pointer;
}

.margin-right {
	margin-right: 10px;
}

.margin-left {
	margin-left: 10px;
}

.remove-link-underline {
	text-decoration: none;
}

.bold {
	font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}
